{{> header.handlebars}}
<main role="main" class="expand">
    <div class="container my-5">
        <form action="/create/league" method="post" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Team Name</label>
                    <input type="text" class="form-control" id="validationCustom01" name="team-name" placeholder="What is the league called?" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Number Of Teams</label>
                    <input type="number" class="form-control" id="validationCustom02" name="number-of-teams" placeholder="How many teams does the league consist of?" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Create League</button>
        </form>



    </div>
</main>
{{> footer.handlebars}}