{{> header.handlebars}}
<main role="main" class="expand">
    <div class="container my-5">
        <div class="row mb-5">
            <div class="col-lg-4 offset-lg-1 text-center funny-btn card">
                <form action="/create" method="GET">
                    <button type="submit" class="btn btn-info">Create League or Team</button>
                </form>
            </div>
            <div class="col-lg-4 offset-lg-1 text-center funny-btn card">
                <form action="/simulate" method="GET">
                    <button type="submit" class="btn btn-info">Simulation Zone</button>
                </form>
            </div>
        </div>
    </div>
</main>

{{> footer.handlebars}}