{{> header.handlebars}}
<main role="main" class="expand ">
    <div class="container">
        <div class="card my-5">
            <table class="table bg-white">
                <thead class="thead-dark">
                <tr>
                    <th style="width:10%;" scope="col">Pos</th>
                    <th style="width:70%;" scope="col">Player Name</th>
                    <th style="width:20%;" scope="col">Goals</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left">1</td>
                    <td class="text-left">Vusi Baloyi</td>
                    <td class="text-left">17</td>
                </tr>
                <tr>
                    <td class="text-left">2</td>
                    <td class="text-left">Thabang Magaola</td>
                    <td class="text-left">17</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card my-5">
            <table class="table bg-white">
                <thead class="thead-dark">
                <tr>
                    <th style="width:10%;" scope="col">Pos</th>
                    <th style="width:70%;" scope="col">Player Name</th>
                    <th style="width:20%;" scope="col">Assists</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left">1</td>
                    <td class="text-left">Sibusiso Nkosi</td>
                    <td class="text-left">17</td>
                </tr>
                <tr>
                    <td class="text-left">2</td>
                    <td class="text-left">Thaabit Jacobs</td>
                    <td class="text-left">17</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card my-5">
            <table class="table bg-white">
                <thead class="thead-dark">
                <tr>
                    <th style="width:10%;" scope="col">Pos</th>
                    <th style="width:70%;" scope="col">Player Name</th>
                    <th style="width:20%;" scope="col">Clean Sheets</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left">1</td>
                    <td class="text-left">David De Gea</td>
                    <td class="text-left">12</td>
                </tr>
                <tr>
                    <td class="text-left">2</td>
                    <td class="text-left">Dean Henderson</td>
                    <td class="text-left">10</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>

{{> footer.handlebars}}